.rowShadow {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.digit {
	width: 75px;
	height: 75px;
	font-size: 2rem;
	cursor: pointer;
}

.containerDesign {
	background-color: white;
	width: 350px;
	text-align: center;
	background-color: white;
}

.sub {
	font-size: 0.8rem;
	color: #596066;
	opacity: 1;
}

.subplus {
	font-size: 0.6rem;
	color: #63696f;
	line-height: 16px;
}

.digit:hover {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	opacity: 1;
	display: inline-block;
	background-color: #edf0f5;
	/* border: 1px solid; */
}

.rounded-circle-num {
	background-color: #15ad3d;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#call {
	display: inline-block;
	background-color: green;
	padding: 4px 30px;
	margin: 10px;
	color: white;
	border-radius: 4px;
	float: left;
	cursor: pointer;
}

/* @media only screen and (max-width: 576px) {
	.container {
		width: 100% !important;
	}
	.row {
		box-shadow: 0px 0px 0px 0px;
	}
} */

/* @media only screen and (max-width: 768px) {
	.col-md-12 {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
} */
.dropdownBorder {
	border-style: none;
}
.dropdown-menu {
	position: absolute;
	background-color: white;
	float: center;
	padding: 0px !important;
	margin: 0px !important;
}


.phone {
	color: white;
	padding: 12px;
}

.sp {
	font-weight: bold;
	font-size: 35px;
	line-height: 28px;
}

.AstHash {
	font-size: 20px !important;
}

#output {
	background-color: black;
}