html, body {
	height: 100%;
}

/*start of font css*/
.f-14 {
	font-size: 2rem;
}

@media only screen and (max-width: 600px) {
	.f-14 {
		font-size: 1rem;
	}
}

.f-13{
	font-size: 0.8rem;
}

/* end of font css*/

/*start of width css*/
.w-30 {
	width: 30px;
}

@media only screen and (max-width: 600px) {
	.w-30 {
		width: 15px;
	}
}
/*end of width css*/

/* cursor pointer css */
.cursor_pointer {
	cursor: pointer;
}

/* start of box_row css */
.box_row {
	border-style: solid;
	border-width: thin;
}
/* end of box_row css */



/* start of box_container css */
.box_container{
	background-color: white ;
	width: 320px ;
	padding: 20px ;
	height: 420px ;
	text-align: center ;
	
}

@media only screen and (max-width: 600px) {
	.box_container {
		min-width: 100% !important;
		border-style:none;
		
	}

}

/* end of box_container css */

/* start of sub css */
.sub {
	
	color: grey;
	opacity: 1;
}
/* end of sub css */

/* start of outer css */
.outer {
	width: 68px;
	height: 68px;
}
.outer:hover {
	
	border-radius: 50%;
	opacity: 0.8;
	display: inline-block;
	background-color: #edf0f5;
	
}
/* end of outer css */

/* start of callButton css */
.callButton{
	width:50px;
	height: 48px;
}
.callButton:hover{
	opacity: 0.7;
}
/* end of callButton css */

/* start of roundButton css */
.roundButton{
	background-color: #15ad3d;

	width: 50px;
	height: 50px;
}
/* end of roundButton css */

/* start of callButton css */
.callButtonColor{
	color:white;
}
/* end of callButton css */
