.verticalBorder {
	border-right-style: dashed;
	border-color: #D0D0D0;
	border-width: thin;
}

.containerBorder {
	border-style: solid;
	border-width: thin;
}

.chevron-color {
	color: #D0D0D0;
	font-size: 9px;
}

.breadcrumbText {
	color: gray;
	text-decoration: none;
	background-color: transparent;
	font-size: 12px;
}

.breadcrumbText:hover {
	color: gray;
	text-decoration: none;
	background-color: transparent;
	font-size: 12px;
}

.tabText {
	color: gray;
	text-decoration: none;
	background-color: transparent;
	font-size: 14px;
}

.tabText:hover {
	color: gray;
	/* 	font-weight: bold;
 */
}

.nav-tabs .nav-item .nav-item.show .nav-link, .nav-tabs .nav-link.active
	{
	color: #495057;
	font-weight: bold;
	border-bottom: 3px solid #ff1a75;
	background-color: #f9f9f9;
}

.nav-tabs {
	border-bottom: none;
}

.nav-link {
	display: block;
	padding: 0.3rem 0.3rem !important;
}

.imgShadow {
	box-shadow: -12px 0px 21px -12px #aaa;
	background-color: white;
}

.digit {
	height: 60px;
	width: 60px;
	font-size: 2rem;
	cursor: pointer;
}

.callBtn {
	height: 60px;
	width: 60px;
	font-size: 2rem;
	cursor: pointer;
}

.containerDesign {
	background-color: white;
	width: 350px;
	text-align: center;
	background-color: white;
}

.sub {
	font-size: 10px;
	color: #596066;
	opacity: 1;
}

.subplus {
	font-size: 0.5rem;
	color: #63696f;
	line-height: 16px;
}

.digit:hover {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	opacity: 1;
	display: inline-block;
	background-color: #FFEDEE;
	width: 60px;
}

.rounded-circle-num  {
	background: linear-gradient(to bottom, #79ac7b 0%, #0b8910 100%);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#call {
	display: inline-block;
	background-color: green;
	padding: 4px 30px;
	margin: 10px;
	color: white;
	border-radius: 4px;
	float: left;
	cursor: pointer;
}

.phone {
	color: white;
	padding: 12px;
	font-size: 16px;
	transform: rotate(90deg);
}

.sp {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}

.AstHash {
	font-size: 10px !important;
}

.marginBottom {
	margin-bottom: 15rem;
}

.imageMargin {
	margin-top: 8rem;
}

.btn {
	color: gray;
}

.btn:hover {
	color: gray;
}

.nav-tabs .nav-link {
	border: white;
}

.left-arrow {
	color: black;
	font-size: 17px;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

.text-color {
	color: gray;
	font-size: 12px;
}

.f-size {
	font-size: 22px;
}

.removeShadow:focus {
	box-shadow: none;
	border-style: none;
}

.backgroundColor, .breadcrumbBg, .nav-tabs .nav-item .nav-item.show .nav-link,
	.nav-tabs .nav-link.active .removeShadow:focus, .removeShadow {
	background-color: #f9f9f9 !important;
}

body {
	background-color: #ECECEC;
}

container {
	height: 680px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.calendar-font {
	font-size: 0.8rem;
	color: #63696f;
}

.dashedBorder {
	border-width: 1px;
	border-bottom-style: dashed;
	border-color: #D0D0D0
}

.outgoingCall {
	position: relative;
}

.fontRecentNum {
	font-size: 14px;
	color: #585656;
	opacity: 1;
}

.fontRecentTime {
	font-size: 11px;
	color: #b8bbbe;
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	.marginBottom {
		margin-bottom: 3rem;
	}
	.imageMargin {
		margin-top: 3rem;
	}
}

.callShadow {
	box-shadow: -1px 4px 9px 0px grey;
}