html, body {
	height: 100%;
}

/*start of font css*/
.f-14 {
	font-size: 2rem;
}

@media only screen and (max-width: 600px) {
	.f-14 {
		font-size: 1.8rem;
	}
}

.f-13 {
	font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
	.f-13 {
		font-size: 0.7rem;
	}
}

@media only screen and (max-width: 600px) {
}

.f-12 {
	font-size: 1.7rem;
}
/* end of font css*/

/*start of width css*/
.w-30 {
	width: 30px;
}

@media only screen and (max-width: 600px) {
	.w-30 {
		width: 15px;
	}
}
/*end of width css*/

/* start of popover css */
#dialer_view .popover-body {
	padding: 0;
	margin: 0;
}

#dialer_view .popover-body .box_row {
	border-style: none;
}
/* end of popover css */

/* cursor pointer css */
.cursor_pointer {
	cursor: pointer;
}

/* start of box_row css */
.box_row {
	border-style: solid;
	border-width: thin;
}
/* end of box_row css */

/* start of box_container css */
.box_container {
	background-color: white;
	width: 320px;
	height: 420px;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.box_container {
		max-width: 100% !important;
		border-style: none;
	}
}

/* end of box_container css */

/* start of sub css */
.sub {
	color: grey;
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	.sub {
		margin-top: -3px;
	}
}

/* end of sub css */

/* start of outer css */
.outer {
	margin-top: 8px;
	width: 60px;
	height: 60px;
}

.outer:hover {
	border-radius: 50%;
	opacity: 0.8;
	display: inline-block;
	background-color: #edf0f5;
}

.outer:active {
	color: #dc3545;
}

/* end of outer css */

/* start of callButton css */
.callButton {
	margin-top: 15px;
	width: 60px;
	height: 60px;
}

.callButton:hover {
	border-radius: 50%;
	background-color: #dc3545;
}
/* end of callButton css */

/* start of roundButton css */
.roundButton {
	background-color: #15ad3d;
	width: 60px;
	height: 60px;
}
/* end of roundButton css */

/* start of callButton css */
.callButtonColor {
	color: white;
}
/* end of callButton css */

/* start of inner css */
.inner {
	line-height: 30px;
}
/* end of inner css */


/* start of remove-shadow css */
.remove-shadow{
	box-shadow: none !important;
}
/* end of remove-shadow css */

/* start of border css */
.left-border{
	border-left-style: solid;
	border-left-color:  #343a40;
}
.right-border{
	border-right: 1px solid !important;
	border-right-color:  #343a40 !important;
}
/* end of border css */
